body{
    background-color: rgb(205, 164, 247);
    border-color: rgb(0, 14, 94);
    font-size: x-large;
    color: rgb(21, 21, 223)
    font-family: 'Quicksand', sans-serif;
    .portfolio{
        display: flex;
        flex-direction: column;
          }
      }




